:root {
  --color-violet: hsl(257, 40%, 49%);
  --color-rsoft-magenta: hsl(300, 69%, 71%);
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(0, 0%, 90%);

  --font-sans-serif-1: Poppins, sans-serif;
  --font-sans-serif-2: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: url("../images/bg-mobile.svg") no-repeat var(--color-violet) 0 0;
  color: var(--color-light);
  font-family: var(--font-sans-serif-2);
  font-display: swap;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
a:focus-visible {
  outline: 2px solid var(--color-rsoft-magenta);
}
.visually-hidden {
  position: absolute;
  top: 0;
  left: -625rem;
  height: 0.0625rem;
  overflow: hidden;
  width: 0.0625rem;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  padding: clamp(1.5rem, 4.5vw, 3rem) 0;
}

.logo__link {
  display: block;
  height: clamp(2rem, 6vw, 4rem);
  width: clamp(6.5rem, 18.5vw, 12rem);
}
.logo__icon {
  background: url("../images/logo.svg") no-repeat 0 center;
  background-size: 100%;
  display: block;
  height: 100%;
  width: 100%;
}

.hero__image-wrapper {
  padding: 1.5rem 0;
  max-width: 25rem;
  margin: auto;
}
.hero__image {
  max-width: 100%;
  height: auto;
}
.hero__intro {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-align: center;
}

.hero__title {
  color: var(--color-white);
  font-family: var(--font-sans-serif-2);
  font-size: clamp(1.25rem, 3.75vw, 2.5rem);
  font-weight: 600;
  margin: auto;
  margin-top: 1.5rem;
  max-width: 20ch;
}

.hero__description {
  margin: 1.5rem auto;
  max-width: 40ch;
}

.hero__btn {
  background: var(--color-white);
  border-radius: clamp(1rem, 3vw, 2rem);
  color: var(--color-violet);
  display: block;
  font-weight: 600;
  max-width: 13rem;
  margin: auto;
  padding: clamp(0.5rem, 1.25vw, 0.875rem);
  text-align: center;
  text-decoration: none;
  transition: 
    0.25s color ease-in-out,
    0.25s background ease-in-out;
  will-change: color, background;
}

.hero__btn:hover {
  background: var(--color-rsoft-magenta);
  color: var(--color-light);
}
/* social links */

.social-links {
  padding: 4rem 0;  
}

.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 3rem);
  justify-content: center;
  list-style: none;
}

.list__link {
  border: 1px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  display: block;
  font-size: 1.125rem;
  height: 3rem;
  position: relative;
  transition: 
    color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
  width: 3rem;
  will-change: color, border-color;
}

.list__link:hover {
  border-color: var(--color-rsoft-magenta);
  color: var(--color-rsoft-magenta);
}
.list__link:focus-visible {
  outline: 2px solid var(--color-rsoft-magenta);
}

.list__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* social links */

/* atribution */
.attribution {
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

.attribution a {
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
/* atribution */

@media (min-width: 64rem) {
  body {
    background-image: url("../images/bg-desktop.svg");
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .hero__image-wrapper {
    max-width: none;
    margin: 0;
  }
  .hero__intro {
    padding: 2rem 0;
    text-align: left;
  }

  .hero__title {
    margin: 0;
  }

  .hero__description {
    margin-left: 0;
    max-width: 50ch;
  }

  .hero__btn {
    margin: 0;
  }

  .list {
    justify-content: end;
  }
}